@charset "UTF-8";
.single-wrapper {

  .sidebar-wrapper {

    .distance-sidebar {
      transition: all 0.3s;
      opacity: 0.8;

      .form-group {
        text-align: right;

        .search_btn {
          width: 100px;
          border: none;
          background-color: white;
          height: 30px;
          cursor: pointer;
          margin-top: 5px;
          display: none;
        }
      }


      .widget {
        background-color: white;
        padding: .5em .7em;
        margin: 1em 0;

      }
    }


  }

  .single-article-wrapper {

    .distance-article-content {
     padding-top: 25px;
      padding-bottom: 25px;
      line-height: 1.6;
      width: 100%;
      height: auto;
      margin: 15px auto 10px;
      overflow: hidden;
      font-size: 16px;

      img {
        max-width: 100%;
        height: auto;
        text-align: center;
        overflow: hidden;
        margin: 10px auto 10px;
      }



    }

    .distance-copyright {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: rgba(16, 152, 152, 0.02);
      border-left: 2px solid $baseColor2;
      color: #3b3b3b;
      margin-top: 60px;
      margin-bottom: 45px;
      font-size: 12px;


      @include mixin_a_color($baseColor2);

    }

    .distance-pager{
      //display: flex;
      //li{
      //  flex: 1;
      //  text-align: center;
      //  font-size: 14px;
      //
      //}
      span{
        color: grey;
        font-size: 14px;
      }

    }

  }

}