@charset "UTF-8";
@import "base";
@import "mixin";
@import "index";
@import "archive";
@import "single";
@import "comments";


body {
  position: relative;
  font-size: 14px;
  //background-color: #f9f9f9;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}

pre {
  display: block;
  padding: 11px;
  margin: 0 0 11.5px;
  font-size: 12px;
  line-height: 1.846;
  word-break: break-all;
  word-wrap: break-word;
  color: #212121;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

//pre, code {
//  margin: 0 .2em;
//  padding: 15px;
//}


.wow {
  visibility: hidden;
}


.wb-ppo-donate .tab-cont .hl{
  color: white!important;
}

.dp_shadow {
  //box-shadow: 1px 2px 8px rgba(185, 185, 185, 0.45);
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, .05);
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 5px 18px 5px rgba(0, 0, 0, .05);
  }
}

a:link, a:visited, a:active {
  //color: inherit;
  color: $baseColor;
  //text-decoration: none;
}

a:hover {
  color: $baseColor2;

}


.distance-head {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 99999;
  transition: all 0.5s;

  @include mixin_a_color(white);

  .distance_nav {
    list-style: none;
    margin: 0;
    width: 100%;
    //background: deepskyblue;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;

    @include mixin_fadeIn;

  }


  .distance_nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    position: relative;
    opacity: 0.85;

    &:after {
      content: "";
      width: 0;
      height: 2px;
      background-color: white;
      position: absolute;
      left: 50%;
      bottom: 0;
      transition: all 0.3s;
    }

    &:hover:after {
      left: 0;
      width: 100%;

    }
  }


  @media all and (max-width: 800px) {
    .distance_nav {
      justify-content: space-around;
    }
  }

  @media all and (max-width: 600px) {
    .distance_nav {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0;
    }

    .distance_nav a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }


    .distance_nav li:last-of-type a {
      border-bottom: none;
    }
  }
}

.distance-head-bg {
  background-color: white;

  @include mixin_a_color($baseColor);

  //.distance_nav a {
  //  color: $baseColor;
  //
  //  &:after {
  //    background-color: $baseColor;
  //  }
  //}


  box-shadow: 1px 2px 8px rgba(185, 185, 185, 0.45);


}

.distance-mainbody {
  //margin-bottom: 50px;
}


.distance-first-screen {
  position: relative;
  overflow: hidden;
  background-color: gray;
  height: 100vh;
  background-size: cover;
  background-position: center bottom;
  box-shadow: 0px 5px 8px rgba(185, 185, 185, 1);
  padding: 0;

  .video_bg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  //遮罩层
  &:after {

    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.2);
    z-index: 1;
    top: 0;
    left: 0;
    content: '';

  }


  .sentence {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 32px;

    p {
      //opacity: 0;
      //@include mixin_fadeInDown;
      //animation: fadeInDown 3s .5s 1;
      //animation-fill-mode: forwards; //当动画完成后，保持最后一个属性值（在最后一个关键帧中定义）。
    }
  }

  .header_down {
    animation: bounce 4s 2s infinite;
    color: rgba(255, 255, 255, 0.8);
    height: 34px;
    width: 34px;
    position: absolute;
    bottom: 50px;
    margin-left: -17px;
    left: 50%;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s;

    &:hover {
      color: white;
    }
  }

  svg {
    fill: currentColor;
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    width: 14px;
    height: 14px;
  }
}


.distance-top {
  height: 440px;
  //background-image: url("./img/code.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0;
  background-color: #159957;  /* fallback for old browsers */
  background-image: linear-gradient(to top, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &:after {
    background-image: linear-gradient(-180deg, rgba(45, 58, 111, .5), rgba(0, 0, 0, .5));
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    height: 100%;

    .description {
      height: 100%;
      position: relative;
      z-index: 1;


      h1 {
        margin-top: -60px;
        color: white;
        text-align: center;
        font-size: 2.2rem;
        font-weight: lighter;
        @include mixin_fadeInDown;
        @media screen and (max-width: 768px) {
          font-size: 1.6rem;
        }
      }

      h1.big{
        font-size: 2.5rem;
        font-weight: 500;

      }

      .summary {
        color: white;
        text-align: center;
        @include mixin_fadeInDown;
        @include mixin_a_color(white);

        .author {
          font-size: 12px;
          opacity: .9;
        }

        .view {
          font-size: 14px;
        }
      }
    }
  }
}

.distance-main-wrapper {
  background-color: $background-color-white;
}


.distance-main {
  margin-top: -100px;
  position: relative;
  z-index: 2;
  background-color: white;
  min-height: 300px;
  border-radius: 4px;
  overflow: hidden;
  //padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 50px;


}

.distance-page-content {
  min-height: 500px;
}

.distance-footer {


}

.site-info {

  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #242424;

  ._part {
    color: #666666;

    @include mixin_a_color(#666666);

    .separator {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .theme {


  }

  .copyright {

  }

  .icp {
    span {
      padding: 0 5px;
    }

  }

}

.link {
  background-color: #2d2e2f;
  ul{
    margin: 0;
  }

  .btm{


      li{


        a {
          display: block;
          transition: all .5s;
          padding: 10px 20px;
          text-decoration: none;

          &:hover {
            color: lighten($baseColor2, 10) !important;
            //background-color: lighten(#2d2e2f,20);

          }
        }

      }


  }

  @include mixin_a_color(rgb(209, 209, 209));


}
