.distance-article-content {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    color:#333;
    overflow:hidden;
    font-family:"Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Monaco, monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
    font-size:16px;
    line-height:1.6;
    word-wrap:break-word
}
.distance-article-content strong {
    font-weight:700
}
.distance-article-content h1 {
    margin:.67em 0
}
.distance-article-content hr {
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0
}
.distance-article-content input {
    color:inherit;
    margin:0;
    line-height:normal;
    font:13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"
}
.distance-article-content html input[disabled] {
    cursor:default
}
.distance-article-content input[type=checkbox] {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
.distance-article-content * {
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.distance-article-content a {
    background:0 0;
    color:#4183c4;
    text-decoration:none
}
.distance-article-content a:active, .distance-article-content a:hover {
    outline:0;
    text-decoration:underline
}
.distance-article-content hr {
    margin:15px 0;
    overflow:hidden;
    background:0 0;
    border:0;
    border-bottom:1px solid #ddd
}
.distance-article-content blockquote {
    margin:0
}
.distance-article-content h1, .distance-article-content h2 {
    padding-bottom:.3em;
    border-bottom:1px solid #eee
}
.distance-article-content ol ol, .distance-article-content ul ol {
    list-style-type:lower-roman
}
.distance-article-content ol ol ol, .distance-article-content ol ul ol, .distance-article-content ul ol ol, .distance-article-content ul ul ol {
    list-style-type:lower-alpha
}
.distance-article-content dd {
    margin-left:0
}
.distance-article-content code {
    font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace
}
.distance-article-content pre {
    font:12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    word-wrap:normal
}
.distance-article-content .octicon {
    font:normal normal 16px octicons-anchor;
    line-height:1;
    display:inline-block;
    text-decoration:none;
    -webkit-font-smoothing:antialiased;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.distance-article-content .octicon-link:before {
    content:'\f05c'
}
.distance-article-content>:first-child {
    margin-top:0!important
}
.distance-article-content>:last-child {
    margin-bottom:0!important
}
.distance-article-content .anchor {
    position:absolute;
    top:0;
    left:0;
    display:block;
    padding-right:6px;
    padding-left:30px;
    margin-left:-30px
}
.distance-article-content .anchor:focus {
    outline:0
}
.distance-article-content h1, .distance-article-content h2, .distance-article-content h3, .distance-article-content h4, .distance-article-content h5, .distance-article-content h6 {
    position:relative;
    margin-top:1em;
    margin-bottom:16px;
    font-weight:700;
    line-height:1.4
}
.distance-article-content h1 .octicon-link, .distance-article-content h2 .octicon-link, .distance-article-content h3 .octicon-link, .distance-article-content h4 .octicon-link, .distance-article-content h5 .octicon-link, .distance-article-content h6 .octicon-link {
    display:none;
    color:#000;
    vertical-align:middle
}
.distance-article-content h1:hover .anchor, .distance-article-content h2:hover .anchor, .distance-article-content h3:hover .anchor, .distance-article-content h4:hover .anchor, .distance-article-content h5:hover .anchor, .distance-article-content h6:hover .anchor {
    padding-left:8px;
    margin-left:-30px;
    text-decoration:none
}
.distance-article-content h1:hover .anchor .octicon-link, .distance-article-content h2:hover .anchor .octicon-link, .distance-article-content h3:hover .anchor .octicon-link, .distance-article-content h4:hover .anchor .octicon-link, .distance-article-content h5:hover .anchor .octicon-link, .distance-article-content h6:hover .anchor .octicon-link {
    display:inline-block
}
.distance-article-content h1 {
    font-size:2.25em;
    line-height:1.2
}
.distance-article-content h1 .anchor {
    line-height:1
}
.distance-article-content h2 {
    font-size:1.75em;
    line-height:1.225
}
.distance-article-content h2 .anchor {
    line-height:1
}
.distance-article-content h3 {
    font-size:1.5em;
    line-height:1.43
}
.distance-article-content h3 .anchor, .distance-article-content h4 .anchor {
    line-height:1.2
}
.distance-article-content h4 {
    font-size:1.25em
}
.distance-article-content h5 .anchor, .distance-article-content h6 .anchor {
    line-height:1.1
}
.distance-article-content h5 {
    font-size:1em
}
.distance-article-content h6 {
    font-size:1em;
    color:#777
}
.distance-article-content blockquote, .distance-article-content dl, .distance-article-content ol, .distance-article-content p, .distance-article-content pre, .distance-article-content table, .distance-article-content ul {
    margin-top:0;
    margin-bottom:16px
}
.distance-article-content ol, .distance-article-content ul {
    padding-left:2em
}
.distance-article-content ol ol, .distance-article-content ol ul, .distance-article-content ul ol, .distance-article-content ul ul {
    margin-top:0;
    margin-bottom:0
}
.distance-article-content li>p {
    margin-top:16px
}
.distance-article-content dl {
    padding:0
}
.distance-article-content dl dt {
    padding:0;
    margin-top:16px;
    font-size:1em;
    font-style:italic;
    font-weight:700
}
.distance-article-content dl dd {
    padding:0 16px;
    margin-bottom:16px
}
.distance-article-content blockquote {
    padding:0 15px;
    color:#777;
    border-left:4px solid #ddd
}
.distance-article-content blockquote>:first-child {
    margin-top:0
}
.distance-article-content blockquote>:last-child {
    margin-bottom:0
}
.distance-article-content table {
    border-collapse:collapse;
    border-spacing:0;
    display:block;
    width:100%;
    overflow:auto;
    word-break:normal;
    word-break:keep-all
}
.distance-article-content table th {
    font-weight:700
}
.distance-article-content table td, .distance-article-content table th {
    padding:6px 13px;
    border:1px solid #ddd
}
.distance-article-content table tr {
    background-color:#fff;
    border-top:1px solid #ccc
}
.distance-article-content table tr:nth-child(2n) {
    background-color:#f8f8f8
}
.distance-article-content img {
    max-width:100%;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.distance-article-content code {
    padding:.2em 0;
    margin:0;
    font-size:85%;
    /*background-color:rgba(0, 0, 0, .04);*/
    border-radius:3px
}
.distance-article-content code:after, .distance-article-content code:before {
    letter-spacing:-.2em;
    content:"\00a0"
}
.distance-article-content .highlight {
    margin-bottom:16px
}
.distance-article-content .highlight pre, .distance-article-content pre {
    padding:16px;
    overflow:auto;
    font-size:85%;
    background-color:#f7f7f7;
    border-radius:3px
}
.distance-article-content .highlight pre {
    margin-bottom:0;
    word-break:normal
}
.distance-article-content pre code:after, .distance-article-content pre code:before {
    content:normal
}
.distance-article-content .pl-c {
    color:#969896
}
.distance-article-content .pl-c1, .distance-article-content .pl-mdh, .distance-article-content .pl-mm, .distance-article-content .pl-mp, .distance-article-content .pl-mr, .distance-article-content .pl-s1 .pl-v, .distance-article-content .pl-s3, .distance-article-content .pl-sc, .distance-article-content .pl-sv {
    color:#0086b3
}
.distance-article-content .pl-e, .distance-article-content .pl-en {
    color:#795da3
}
.distance-article-content .pl-s1 .pl-s2, .distance-article-content .pl-smi, .distance-article-content .pl-smp, .distance-article-content .pl-stj, .distance-article-content .pl-vo, .distance-article-content .pl-vpf {
    color:#333
}
.distance-article-content .pl-ent {
    color:#63a35c
}
.distance-article-content .pl-k, .distance-article-content .pl-s, .distance-article-content .pl-st {
    color:#a71d5d
}
.distance-article-content .pl-pds, .distance-article-content .pl-s1, .distance-article-content .pl-s1 .pl-pse .pl-s2, .distance-article-content .pl-sr, .distance-article-content .pl-sr .pl-cce, .distance-article-content .pl-sr .pl-sra, .distance-article-content .pl-sr .pl-sre, .distance-article-content .pl-src {
    color:#df5000
}
.distance-article-content .pl-mo, .distance-article-content .pl-v {
    color:#1d3e81
}
.distance-article-content .pl-id {
    color:#b52a1d
}
.distance-article-content .pl-ii {
    background-color:#b52a1d;
    color:#f8f8f8
}
.distance-article-content .pl-sr .pl-cce {
    color:#63a35c;
    font-weight:700
}
.distance-article-content .pl-ml {
    color:#693a17
}
.distance-article-content .pl-mh, .distance-article-content .pl-mh .pl-en, .distance-article-content .pl-ms {
    color:#1d3e81;
    font-weight:700
}
.distance-article-content .pl-mq {
    color:teal
}
.distance-article-content .pl-mi {
    color:#333;
    font-style:italic
}
.distance-article-content .pl-mb {
    color:#333;
    font-weight:700
}
.distance-article-content .pl-md, .distance-article-content .pl-mdhf {
    background-color:#ffecec;
    color:#bd2c00
}
.distance-article-content .pl-mdht, .distance-article-content .pl-mi1 {
    background-color:#eaffea;
    color:#55a532
}
.distance-article-content .pl-mdr {
    color:#795da3;
    font-weight:700
}
.distance-article-content kbd {
    display:inline-block;
    padding:3px 5px;
    font:11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height:10px;
    color:#555;
    vertical-align:middle;
    background-color:#fcfcfc;
    border:1px solid #ccc;
    border-bottom-color:#bbb;
    border-radius:3px;
    box-shadow:inset 0 -1px 0 #bbb
}
.distance-article-content .task-list-item {
    list-style-type:none
}
.distance-article-content .task-list-item+.task-list-item {
    margin-top:3px
}
.distance-article-content .task-list-item input {
    float:left;
    margin:.3em 0 .25em -1.6em;
    vertical-align:middle
}
.distance-article-content :checked+.radio-label {
    z-index:1;
    position:relative;
    border-color:#4183c4
}
.distance-article-content img.more {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB2wAAAAUCAMAAAB28j3QAAAAPFBMVEVMaXG7yd/fybu7wdL/6s67u7vSwbv/3sjI3v/O6v+7u8nB0u7Bu7vJu7u7u8Hu0sHBycm7ydLJybvJu8Gz2eUyAAAACnRSTlMA////P///s7M/0Um8/wAAAQdJREFUeNrt28tuwjAUBNCJzU1CEqCP///XLqhUlS5pKx7nbDxbW4pGtuMEAAAAAAAAAAAA4L+NtSbJqXqSqapqTjJW1XF/Hmu2SgBwVdn2JDlUT041J1OtyTgkbTmPAMB1Zfuyzcm0vPXkMCRfJXs67pUtAPxC2Q5tSNrQenbbmiTTZ8mO3c4W7klVVdXT5CebrnzH+Vy205K871vPbpuTZKo5Y1UNOd/ZLs/6KcsPkZ9ptspWlm+4bHOYp54fO9u25HJna91kZXsPXzVwg8fIaa/jmnZ5Z7vbVsfIAPA7ZTvVcZ/mb2QA+LOyzaEn7fs72yHZbYN3tgAAAAAAAAAAAAAA8OA+APMLKOOI5E5PAAAAAElFTkSuQmCC) center center repeat-y;
    border:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    width:96%;
    height:16px;
    display:block;
    margin:15px auto 0;
    outline:0;
    cursor:default;
    border-radius:0;
    padding:0;
    resize:none
}