@charset "UTF-8";
body {
  background-color: #f9f9f9; }

.dp_shadow {
  box-shadow: 1px 2px 8px rgba(185, 185, 185, 0.45);
  transition: box-shadow 0.5s; }
  .dp_shadow:hover {
    box-shadow: 2px 3px 15px rgba(129, 129, 129, 0.45); }

a:link, a:visited, a:hover, a:active {
  color: inherit; }

* {
  font-family: '微软雅黑'; }

.head {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 99999999; }

.logo {
  position: fixed;
  left: 0;
  z-index: 999999999;
  font-size: 28px;
  padding: 25px; }
  .logo a:visited, .logo a:hover, .logo a:link {
    color: white;
    text-decoration: none;
    text-transform: capitalize; }

.distance-nav {
  list-style: none;
  margin: 0;
  width: 100%;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end; }

.distance-nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white; }

.distance-nav a:hover {
  background: rgba(0, 0, 0, 0.5); }

@media all and (max-width: 800px) {
  .distance-nav {
    justify-content: space-around; } }
@media all and (max-width: 600px) {
  .distance-nav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0; }

  .distance-nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

  .distance-nav li:last-of-type a {
    border-bottom: none; } }
.distance-first-screen {
  position: relative;
  overflow: hidden;
  background-color: gray;
  height: 100vh;
  background-size: cover;
  background-position: center bottom;
  box-shadow: 0px 5px 8px #b9b9b9; }
  .distance-first-screen .layer {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99; }
  .distance-first-screen .sentence {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 30px; }

.index-wrapper {
  width: 80%;
  margin: 50px auto;
  max-width: 1600px; }

.index-article-wrapper ._article-item {
  min-height: 350px; }
  .index-article-wrapper ._article-item:nth-of-type(odd) {
    flex-direction: row; }
    .index-article-wrapper ._article-item:nth-of-type(odd) ._box {
      text-align: left; }
      .index-article-wrapper ._article-item:nth-of-type(odd) ._box ._font {
        border-right: 1px solid #a2a2a2; }
  .index-article-wrapper ._article-item:nth-of-type(even) {
    flex-direction: row-reverse; }
    .index-article-wrapper ._article-item:nth-of-type(even) ._box {
      text-align: right; }
      .index-article-wrapper ._article-item:nth-of-type(even) ._box ._font {
        border-left: 1px solid #a2a2a2; }
  .index-article-wrapper ._article-item:not(:last-child) {
    margin-bottom: 50px; }
  .index-article-wrapper ._article-item ._img {
    padding: 0;
    position: relative;
    background-color: #ededed;
    background-image: url("./img/article_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden; }
    .index-article-wrapper ._article-item ._img img {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all 0.5s;
      cursor: pointer; }
      .index-article-wrapper ._article-item ._img img:hover {
        transform: scale(1.1); }
  .index-article-wrapper ._article-item ._box ._font {
    width: 100%;
    padding: 10px; }
    .index-article-wrapper ._article-item ._box ._font ._title h1 {
      font-size: 28px; }
    .index-article-wrapper ._article-item ._box ._font ._author-info {
      color: #8b8b8b;
      font-size: 14px; }
    .index-article-wrapper ._article-item ._box ._font ._excerpt {
      color: #575757; }

.distance-article-list {
  margin: 20px 0; }
  .distance-article-list ._item {
    border-radius: 5px;
    overflow: hidden;
    background-color: white; }
    .distance-article-list ._item:not(:last-child) {
      margin-bottom: 15px; }
    .distance-article-list ._item ._img {
      border-radius: 2px; }
      .distance-article-list ._item ._img img {
        border-radius: 2px;
        width: 100%;
        height: 300px; }
    .distance-article-list ._item ._text {
      padding: 15px; }

/*# sourceMappingURL=style.css.map */
