@charset "UTF-8";
body {
  background-color: #f9f9f9; }

.dp_shadow {
  box-shadow: 1px 2px 8px rgba(185, 185, 185, 0.45);
  transition: box-shadow 0.5s; }
  .dp_shadow:hover {
    box-shadow: 2px 3px 15px rgba(129, 129, 129, 0.45); }

a:link, a:visited, a:hover, a:active {
  color: rgba(13, 13, 13, 0.9); }

a:link {
  color: rgba(13, 13, 13, 0.9); }

* {
  font-family: '微软雅黑'; }

.head {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 99999; }

.top .logo {
  font-size: 26px;
  transition: all .3s; }
  .top .logo a:visited, .top .logo a:hover, .top .logo a:link {
    color: white;
    text-decoration: none; }
  .top .logo:hover {
    transform: skewX(10deg); }

.distance_nav {
  list-style: none;
  margin: 0;
  width: 100%;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  opacity: 0;
  animation: fadeIn 2s .5s 1;
  animation-fill-mode: forwards; }

.distance_nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  position: relative;
  opacity: 0.85; }
  .distance_nav a:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all 0.3s; }
  .distance_nav a:hover:after {
    left: 0;
    width: 100%; }

@media all and (max-width: 800px) {
  .distance_nav {
    justify-content: space-around; } }
@media all and (max-width: 600px) {
  .distance_nav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0; }

  .distance_nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

  .distance_nav li:last-of-type a {
    border-bottom: none; } }
.distance-first-screen {
  position: relative;
  overflow: hidden;
  background-color: gray;
  height: 100vh;
  background-size: cover;
  background-position: center bottom;
  box-shadow: 0px 5px 8px #b9b9b9;
  padding: 0; }
  .distance-first-screen .video_bg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .distance-first-screen:after {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    content: ''; }
  .distance-first-screen .sentence {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 32px; }
    .distance-first-screen .sentence p {
      opacity: 0;
      animation: fadeInDown 2s .5s 1;
      animation-fill-mode: forwards; }
  .distance-first-screen .header_down {
    animation: bounce 4s 2s infinite;
    color: rgba(255, 255, 255, 0.8);
    height: 34px;
    width: 34px;
    position: absolute;
    bottom: 50px;
    margin-left: -17px;
    left: 50%;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s; }
    .distance-first-screen .header_down:hover {
      color: white; }
  .distance-first-screen svg {
    fill: currentColor;
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    width: 14px;
    height: 14px; }

.index-wrapper {
  margin-top: 50px;
  position: relative; }

.index-article-wrapper ._article-item {
  transition: all 0.3s; }
  .index-article-wrapper ._article-item:nth-of-type(odd) {
    flex-direction: row; }
    .index-article-wrapper ._article-item:nth-of-type(odd) ._box {
      text-align: left; }
      .index-article-wrapper ._article-item:nth-of-type(odd) ._box ._font {
        border-right: 1px solid #cfcfcf; }
    @media screen and (max-width: 768px) {
      .index-article-wrapper ._article-item:nth-of-type(odd) ._box {
        text-align: left; }
        .index-article-wrapper ._article-item:nth-of-type(odd) ._box ._font {
          border-right: none;
          border-left: none; } }
  .index-article-wrapper ._article-item:nth-of-type(even) {
    flex-direction: row-reverse; }
    .index-article-wrapper ._article-item:nth-of-type(even) ._box {
      text-align: right; }
      .index-article-wrapper ._article-item:nth-of-type(even) ._box ._font {
        border-left: 1px solid #cfcfcf; }
    @media screen and (max-width: 768px) {
      .index-article-wrapper ._article-item:nth-of-type(even) ._box {
        text-align: left; }
        .index-article-wrapper ._article-item:nth-of-type(even) ._box ._font {
          border-right: none;
          border-left: none; } }
  .index-article-wrapper ._article-item:not(:last-child) {
    margin-bottom: 50px; }
  .index-article-wrapper ._article-item ._img {
    padding: 0;
    position: relative;
    background-color: #ededed;
    background-image: url("./img/article_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 260px;
    height: auto; }
    .index-article-wrapper ._article-item ._img img {
      width: 100%;
      height: 100%;
      transition: all 0.3s; }
      .index-article-wrapper ._article-item ._img img:hover {
        transform: scale(1.02); }
  .index-article-wrapper ._article-item ._box ._font {
    width: 100%;
    padding: 10px; }
    .index-article-wrapper ._article-item ._box ._font ._title {
      font-size: 28px; }
      .index-article-wrapper ._article-item ._box ._font ._title a {
        text-decoration: none;
        position: relative;
        border-bottom: 1px solid transparent;
        padding-bottom: 15px;
        line-height: 180%;
        transition: all 0.3s; }
        .index-article-wrapper ._article-item ._box ._font ._title a:hover {
          border-bottom: 1px solid #dbdbdb;
          padding-bottom: 5px; }
    .index-article-wrapper ._article-item ._box ._font ._author-info {
      color: #969696;
      font-size: 13px; }
      .index-article-wrapper ._article-item ._box ._font ._author-info a {
        color: #969696; }
    .index-article-wrapper ._article-item ._box ._font ._excerpt {
      color: #575757; }
    .index-article-wrapper ._article-item ._box ._font ._footer .tags a {
      padding: 2px 4px;
      border-radius: 2px;
      background: #ccc;
      color: #fff;
      text-decoration: none;
      font-size: 14px; }
      .index-article-wrapper ._article-item ._box ._font ._footer .tags a:before {
        content: '#'; }
    .index-article-wrapper ._article-item ._box ._font ._footer ._read-more a {
      text-decoration: none;
      font-size: 14px;
      color: gray; }
      .index-article-wrapper ._article-item ._box ._font ._footer ._read-more a:after {
        content: '>'; }
    @media screen and (max-width: 768px) {
      .index-article-wrapper ._article-item ._box ._font ._footer ._read-more {
        text-align: right; } }
  @media screen and (max-width: 768px) {
    .index-article-wrapper ._article-item ._box {
      border: 1px solid #e2e2e2;
      border-top: none; } }

.distance-article-list {
  margin: 20px 0; }
  .distance-article-list ._item {
    border-radius: 5px;
    overflow: hidden;
    background-color: white; }
    .distance-article-list ._item:not(:last-child) {
      margin-bottom: 15px; }
    .distance-article-list ._item ._img {
      border-radius: 2px; }
      .distance-article-list ._item ._img img {
        border-radius: 2px;
        width: 100%;
        height: 300px; }
    .distance-article-list ._item ._text {
      padding: 15px; }

.distance-top {
  height: 440px;
  background-color: gray;
  background-image: url("./img/code.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .distance-top:after {
    background-image: linear-gradient(-180deg, rgba(45, 58, 111, 0.5), rgba(0, 0, 0, 0.5));
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .distance-top .container {
    height: 100%; }
    .distance-top .container .description {
      height: 100%;
      position: relative;
      z-index: 1; }
      .distance-top .container .description h1 {
        color: white;
        text-align: center;
        opacity: 0;
        animation: fadeInDown 2s .5s 1;
        animation-fill-mode: forwards; }
      .distance-top .container .description .summary {
        color: white;
        text-align: center;
        opacity: 0;
        animation: fadeInDown 2s .5s 1;
        animation-fill-mode: forwards; }

.distance-main-wrapper {
  position: relative;
  overflow: hidden; }
  .distance-main-wrapper .distance-sidebar {
    position: absolute;
    background-color: #d04139;
    width: 260px;
    right: -260px;
    top: 0;
    z-index: 1;
    padding: 15px;
    opacity: 0.5;
    transition: all 0.3s; }
    .distance-main-wrapper .distance-sidebar:hover {
      right: 0;
      opacity: 0.8; }
      .distance-main-wrapper .distance-sidebar:hover:before {
        left: 500px;
        opacity: 0; }
    .distance-main-wrapper .distance-sidebar:before {
      width: 100px;
      height: 200px;
      background-color: #00d084;
      display: block;
      visibility: visible;
      content: '';
      position: absolute;
      left: -100px;
      top: 20%;
      transition: all 0.5s;
      opacity: 1; }
    .distance-main-wrapper .distance-sidebar .widget {
      background: #f9f9f9;
      padding: .5em .7em;
      margin: 1em 0; }

.distance-main {
  margin-top: -100px;
  position: relative;
  background-color: white; }
  .distance-main img {
    width: 100px !important; }

/*# sourceMappingURL=style.css.map */
